<h1>ARPV Ticker</h1>
<div>
  <button (click)="start()">Start</button>
  <button (click)="stop()">Stop</button>
  <button (click)="createOrder()" class="btn_order">Order</button> 
  <div>
    <h3>Result from order:</h3>
    <pre>
      {{ resultFromOrder | json }}
    </pre>
  </div>
</div>
<section class="stats">
  <h2>Stats:</h2>
  <div *ngIf="orderContracts"><strong>Contracts left: </strong>{{ orderContracts }}</div>
  <div *ngIf="day && day.DAILY_RANGE"><strong>Daily Range: </strong>{{ day.DAILY_RANGE }}</div>
  <div *ngIf="day && day.DAILY_HIGH"><strong>Daily High: </strong>{{ day.DAILY_HIGH }}</div>
  <div *ngIf="day && day.DAILY_LOW"><strong>Daily Low: </strong>{{ day.DAILY_LOW }}</div>
  <div *ngIf="stopLimit"><strong>Stop limit: </strong>{{ stopLimit }}</div>
  <div *ngIf="orderPrice"><strong>Order price: </strong>{{ orderPrice }}</div>
</section>
<div *ngIf="day">
  <div
    style="margin-top: 1rem; background-color: yellow; padding: 1rem"
    *ngFor="let snapshot of day.DAILY_DATA_VECTOR; let i = index">
    <div *ngIf="i == 0">
      <h2 style="background-color: black; color: white; padding: 10px 20px">First Candle</h2>
      <p><strong>Day Open: </strong>{{day.DAILY_OPEN}}</p>
      <p><strong>Day Low: </strong>{{day.DAILY_LOW}}</p>
      <p><strong>Day High: </strong>{{day.DAILY_HIGH}}</p>
      <p><strong>Day Range: </strong>{{day.DAILY_RANGE}}</p>
      <p><strong>First Candle: </strong>[{{day.DAILY_DATA_VECTOR}}]</p>
    </div>
    <div #candleContainer *ngIf="i != 0">
      <p><strong>Open:</strong> {{day.DAILY_DATA_VECTOR[i].open}}</p>
      <p><strong>Low:</strong> {{day.DAILY_DATA_VECTOR[i].low}}</p>
      <p><strong>High:</strong> {{day.DAILY_DATA_VECTOR[i].high}}</p>
      <p><strong>Close:</strong> {{day.DAILY_DATA_VECTOR[i].close}}</p>
    </div>
  </div>
   
  <div *ngIf="!this.running">
    <p><strong>Day Close: </strong>{{day.DAILY_CLOSE}}</p>
  </div>
</div>