.stats {
  background-color: powderblue;
  /* color: vk */
  padding: 1rem;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 10rem;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.buy {
  background-color: green;
}

.sell {
  background-color: orangered;
}

.btn_order {
  background-color: yellow;
}